//
// Ember-Chart Variables
// -----------------------------------------------------------------------------

/* Typography */
$label-color:             #888; //#585858;
$font-size:               12px;

$axis-color:              #aaa;
$axis-minor-tick-color:   #ddd;
$highlight-color:         #00c0f3;

//
// General Chart CSS
// ----------------------------------------------------------------------

.chart-float-tooltip{
  .name{
    display: none;
  }
}
svg {
  // Note: Important for Firefox
  display: block;

  .chart-background {
    fill: transparent;
  }

  .axis {
    line,
    path {
      fill: none;
      stroke: $axis-color;
      stroke-width: 0px;
    }
    .tick{
      display: none !important;
    }
    .tick.minor line {
      stroke: $axis-minor-tick-color;
      stroke-width: 0px;
    }
  }

  text {
    cursor: default;
    fill: $label-color;
    font-size: $font-size;
    shape-rendering: crispEdges;
  }
}

//
// Horizontal Bar Chart
// ----------------------------------------------------------------------
.chart-horizontal-bar .bar{
  text.value{
    display: none !important;
  }
  &:nth-of-type(2) rect {
  fill:$primary !important;}
  &:nth-of-type(3) rect{
  fill:$secondary-light !important;}
  &:nth-of-type(4) rect{
  fill:$primary-light !important;}
  &:nth-of-type(5) rect{
  fill:$secondary !important;}
  &:nth-of-type(6) rect{
  fill:$primary !important;}
  &:nth-of-type(7) rect{
  fill:$secondary-light !important;}
  &:nth-of-type(8) rect{
  fill:$primary-light !important;}
  &:nth-of-type(9) rect{
  fill:$secondary !important;}
  rect:hover{
    fill:$secondary !important;
    stroke:$secondary !important;
  }
}

.chart-horizontal-bar .axis {



  line,
  path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke: transparent;



  }

}

//
// Pie Chart
// ----------------------------------------------------------------------

  .chart-pie .arc:nth-child(1){
      fill:red !important;

  }

  .chart-pie .arc{

    path:hover{
      fill:green !important;
      stroke:green !important;
    }
    &:nth-of-type(4) path{
    fill:$secondary;}
    &:nth-of-type(5) path{
    fill:lighten($primary, 22%);}
    &:nth-of-type(2) path{
    fill:$secondary-light;}
    &:nth-of-type(3) path{
    fill:$primary-light;}
    path:hover{
      fill:$secondary !important;
      stroke:$secondary !important;
    }
    path:hover{
      fill:$secondary !important;
      stroke:$secondary !important;
    }
  }

.chart-pie {
  .arc path {
    stroke: transparent;


  }

  .legend.hovered text {
    stroke: none !important;
  }
}

//
// Time Series Chart
// ----------------------------------------------------------------------

.chart-time-series {
  .line {
    fill: none;

    &.hovered {
      stroke-width: 3px;
    }
  }

  .axis {
    .tick {
      fill: none;
      stroke: #aaaaaa;
      stroke-width: 1px;
      stroke-dasharray: 1px, 3px;
      opacity: 1;
      // TODO(Peter): hack
      font-size: 11px;

      &.major {
        stroke-dasharray: none;
      }
    }

    path {
      opacity: 0;
    }
  }

  // .y.axis path {
  //   opacity: 0;
  // }

  // .y.axis .tick {
  //   font-size: 11px;
  // }

  // .rule {
  //   stroke: $axis-minor-tick-color;
  // }

  // .line-marker,
  // .line-marker.hovered {
  //   stroke-width: 1.5px;
  //   /*fill: transparent !important;*/
  // }
}

//
// Vertical Bar Chart
// ----------------------------------------------------------------------
.chart-vertical-bar .bars{

  &:nth-of-type(2) rect {
  fill:$primary !important;}
  &:nth-of-type(3) rect{
  fill:$secondary-light !important;}
  &:nth-of-type(4) rect{
  fill:$primary-light !important;}
  &:nth-of-type(5) rect{
  fill:$secondary !important;}
  &:nth-of-type(6) rect{
  fill:$primary !important;}
  &:nth-of-type(7) rect{
  fill:$secondary-light !important;}
  &:nth-of-type(8) rect{
  fill:$primary-light !important;}
  &:nth-of-type(9) rect{
  fill:$secondary !important;}

  rect:hover{
    fill:$secondary !important;
    stroke:$secondary !important;
  }
}


.chart-vertical-bar,
.chart-vertical-bar-advanced,
.chart-grouped-bar {
  .axis {
    .tick {
      fill: none;
      stroke: #aaaaaa;
      stroke-width: 1px;
      stroke-dasharray: 1px, 3px;
      opacity: 1;

      &.major {
        stroke-dasharray: none;
      }
    }

    path {
      opacity: 0;
    }
  }
}

.chart-stacked-vertical-bar rect {
  stroke: white;


  &.hovered {
    stroke: white !important;
  }
}

.chart-scatter {
  .axis {
    .tick {
      fill: none;
      stroke: #aaaaaa;
      stroke-width: 1px;
      stroke-dasharray: 1px, 3px;
      opacity: 1;
    }

    path {
      opacity: 0;
    }
  }
}

circle {
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
}


.chart-brush {
  circle {
    -webkit-transition: fill-opacity 250ms linear;
  }

  .selecting circle {
    fill-opacity: 2;
  }

  .selecting circle.selected {
    stroke: #f00;
  }

  .resize path {
    fill: #666;
    fill-opacity: 8;
    stroke: #000;
    stroke-width: 1.5px;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .brush .extent {
    fill-opacity: 125;
    shape-rendering: crispEdges;
  }
}

//
// interactivity
// ----------------------------------------------------------------------

.chart-frame .chart-tooltip {
  .background,
  .callout-tail {
    fill: #08c !important;
    stroke: #08c !important;
  }

  line,
  path,
  rect {
    stroke-width: 1px;


  }
}

.chart-frame {
  .hovered {
    fill: $secondary !important;
    stroke: $secondary !important;

    line,
    path,
    rect,
    circle,
    text {
      fill: $secondary !important;
      stroke: $secondary !important;
    }
  }

  .series path.hovered {
    fill: none !important;
  }
}

.chart-float-tooltip {
  position: absolute;
  top: 50px;
  left: 50px;
  background: $secondary;
  color: #eee;
  padding: 8px;
  font-size: 12px;
  z-index: 10;
  line-height: 14px;
  border: transparent;

  .tip-label {
    display: block;
  }
}
