@font-face {
    font-family: HKGrotesk;
    font-weight: 400;
    src: url("hkgrotesk/HKGrotesk-Regular.woff2");
}

@font-face {
    font-family: HKGrotesk;
    font-weight: 700;
    src: url("hkgrotesk/HKGrotesk-Bold.woff2");
}

@font-face {
    font-family: HKGrotesk;
    font-weight: 500;
    src: url("hkgrotesk/HKGrotesk-Medium.woff2");
}

@font-face {
    font-family: HKGrotesk;
    font-weight: 500;
    font-style: italic;
    src: url("hkgrotesk/HKGrotesk-MediumItalic.woff2");
}
