
<div class="lightbox row justify-content-center" id="add">

      <div class="col-auto align-self-center create-post">
        {{#link-to 'index' class="text-right close text-white"}}
          X

        {{/link-to}}
        <h1 class="text-center">Fehlgeschlagen</h1>

      </div>

</div>
