<div class="row about justify-content-between">
  <div class="col-12 col-md-8 col-lg-6 order-2 order-md-1 order-lg-1">
    <h1 class=" text-primary ">make (wo)men aware of machist behaviour</h1>
    <hr class= "red">
    <br>
    <p class= "fliess">
  Der Begriff »Machismo« wird zwar selten aber doch von der feministischen Forschung aufgegriffen. In Summe ist er jedoch zu wenig definiert und wird zu selten diskutiert – abgesehen davon, dass er vielen Leuten kein Begriff ist. Vor allem eines ist unklar: Wie oft man (vor allem als Frau) Alltagssexismus und Machismo ausgesetzt ist.
</p>
<p>
    <h2 class= "AUFZEIGEN">DAS WILL ICH MIT DIESEM PROJEKT AUFZEIGEN.</h2>
</p>
    <p class="fliess">
    Das Jahr 2018 ist ein bezeichnendes Jahr für Geschlechterdiskurs. Nach der #metoo-Kampagne im Herbst 2017 werden Geschlechterrollen weltweit neu diskutiert. Sieht man ab von wichtigen Themen wie gleiche Bezahlung und gleiche Rechte, finden sich Frauen und auch Männern tagtäglich in Situationen, die schnell unter den Tisch gekehrt werden: Wegen Hinterherpfeifen oder blöden Kommentaren wird Frau/Mann keine Anzeige erstatten.
    </p>
    <p class="fliess">
      Doch genau diese kleinen Aktionen sind dafür verantwortlich, dass die Thematik als lächerlich abgetan wird. Wir befinden uns in einem Zeitalter, in dem solch degradierende Handlungen der Vergangenheit angehören sollen.
    </p>
  <br>
  <br>
    <h3 class= "machmit">MACH MIT.</h3>
<p class="fliess">
Indem du Situationen postest, in denen du Alltagssexismus ausgesetzt bist – am besten sofort danach. Das Ganze bleibt anonym.</p>
<br>

{{#link-to 'index.create' class="button"}}
  +
{{/link-to}}

<br>
<br>
<br>
<br>
<br>



  </div>
  <div class="col-12 col-md-4 col-lg-5 order-1 order-md-2 order-lg-2">
    <img class="pfeil" src="/assets/images/pfeilchen.svg" alt="Pfeil laden">
    <p class="text-center">a strong sense of masculine pride:<br>
      an exaggerated masculinity
    </p>
    <p class="text-center">    <hr class="center">
    </p>

    <p class="text-center">an exaggerated or exhilarating sense <br>of power or strength</p>
<br>
<br>
  </div>
</div>
