<div class="row">
  <div class="col-12 col-md-8 col-lg-5">
    <h1><hr>make (wo)man aware of machist behaviour</h1>
    <p>
      Der Begriff „Machismo” wird zwar selten aber doch von der feministischen Forschung aufgegriffen. In Summe ist er jedoch zu wenig definiert und wird zu selten diskutiert – abgesehen davon, dass er vielen Leuten kein Begriff ist. Vor allem eines ist unklar: Wie oft man (vor allem als Frau) Alltagssexismus und Machismo ausgesetzt ist.
    </p>

    <h2>DAS WILL ICH MIT DIESEM PROJEKT AUFZEIGEN.</h2>

    <p>
      Das Jahr 2018 ist ein bezeichnendes Jahr für Geschlechterdiskurs. Nach der #metoo-Kampagne im Herbst 2017 werden Geschlechterrollen weltweit neu diskutiert. Sieht man ab von wichtigen Themen wie gleiche Bezahlung und gleiche Rechte, finden sich Frauen und auch Männern tagtäglich in Situationen, die schnell unter den Tisch gekehrt werden: Wegen Hinterherpfeifen oder blöden Kommentaren wird Frau/Mann keine Anzeige erstatten.
    </p>
    <p>
      Doch genau diese kleinen Aktionen sind dafür verantwortlich, dass die Thematik als lächerlich abgetan wird. Wir befinden uns in einem Zeitalter, in dem solch degradierende Handlungen der Vergangenheit angehören sollen.
    </p>
    {{#link-to 'index.create' class="button"}}
      +
    {{/link-to}}



  </div>
  <div class="col-12 col-md-4 col-lg-5">
    <p class="text-center">a strong sense of masculine pride:
      an exaggerated masculinity
      <hr>
    </p>
    <p>an exaggerated or exhilarating sense of power or strength</p>
  </div>
</div>
