

<main>
            <header>
              <h1>
              {{#link-to 'index'}}
                Hallo. <span>#machismo.today</span>
              {{/link-to}}</h1>
                {{#link-to 'about' }}
                    was ist machismo?
                {{/link-to}}

            </header>

            <section class="container-fluid">

              {{outlet}}



            </section>
  </main>
