

<main>
            <header>
                <h1>Hallo. <span>#machismo.today</span></h1>
                {{#link-to 'about'}}
                    was ist machismo?
                {{/link-to}}

            </header>

            <section class="container-fluid">

              {{outlet}}



            </section>
          </main>
